## Load data 

- Load data from bigquery
- Saved to csv 
    - To avoid doing big query resquest to many time
    - To save cost

In [1]:
import pandas as pd

In [2]:
%mkdir 'data'

mkdir: cannot create directory ‘data’: File exists

Subscrpition data

In [3]:
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()
query = """
    SELECT *
    FROM `datahomeexchange.dbt_ctherreau.subscriptions`
"""

df = client.query(query).to_dataframe()

In [4]:
df.to_csv('data/subscription.csv')

In [5]:
df.to_hdf('data/subscription.h5', key='data')

/tmp/ipykernel_33506/3467524016.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['pk', 'subscription_date', 'first_subscription_date',
       'previous_inscription_date', 'country', 'region', 'department', 'city'],
      dtype='object')]

  df.to_hdf('data/subscription.h5', key='data')

In [8]:
#verification of loading
test = pd.read_hdf('data/subscription.h5', key='data')

In [9]:
test.head()

,pk,subscription_date,user_id,renew,first_subscription_date,first_subscription,is_zombie,previous_inscription_date,referral,promotion,payment3x,payment2,payment3,country,region,department,city,inscription_diff_year,inscription_diff_day
0,2019-09-27_244,2019-09-27,244,0,2019-09-27,1,0,None,0,0,0,0,0,FRA,Île-De-France,Paris,Paris,NaN,NaN
1,2021-10-06_874,2021-10-06,874,1,2018-10-04,0,1,2019-10-10,0,0,0,0,0,FRA,Basse-Normandie,Manche,Jullouville,2.0,727.0
2,2021-09-03_1749,2021-09-03,1749,0,2007-02-10,0,0,2020-08-15,0,0,0,0,0,REU,Saint-Paul,None,Saint-Gilles Les Bains,1.0,384.0
3,2021-04-12_2505,2021-04-12,2505,1,2019-04-13,0,1,2019-04-13,0,0,0,0,0,FRA,Grand Est,Meurthe-Et-Moselle,Nancy,2.0,730.0
4,2019-01-15_3103,2019-01-15,3103,1,2012-08-06,0,0,None,0,0,0,0,0,FRA,Midi-Pyrénées,Tarn,Lavaur,NaN,NaN

Exchange data

In [20]:
query = """
    SELECT *
    FROM `datahomeexchange.dbt_ctherreau.exchanges`
"""

df = client.query(query).to_dataframe()
#df.to_csv('data/exchanges.csv')

In [21]:
df.to_hdf('data/exchanges.h5', key='data')

/tmp/ipykernel_31906/879722126.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['created_at', 'start_on', 'end_on', 'exchange_type', 'home_type',
       'residence_type', 'country', 'region', 'department', 'city'],
      dtype='object')]

  df.to_hdf('data/exchanges.h5', key='data')